.cart {
  padding: 80px 40px;
  max-width: 900px;
  margin: auto;
}

.cart-title {
  font-family: "Allura", sans-serif;
  font-size: 42px;
  text-align: center;
  margin-bottom: 50px;
}

.cart-item {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  align-items: center;
}

.cart-item img {
  width: 120px;
  border-radius: 16px;
}

.cart-item button {
  margin-top: 10px;
  background: none;
  border: 1px solid #e4ccb8;
  padding: 6px 12px;
  cursor: pointer;
}

.cart-total {
  margin-top: 40px;
  font-size: 22px;
  text-align: right;
}
